:root {
  --primary1: #283413;
  --primary2: #567029;
  --primary3: #759938;
  --primary4: #8FBA45;
  --primary5: #BAD48C;
  --primary6: #C1C2E1;
  --primary7: #F1F1F9;

  --neutral1: #212934;
  --neutral2: #5F6B7A;
  --neutral3: #8894A7;
  --neutral4: #B8C4CE;
  --neutral5: #CFD6DE;
  --neutral6: #E1E7EC;
  --neutral7: #F8F9FA;
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  /* height: 100%; */
  padding: 0;
  
  /* overflow: hidden; */
  font-family: 'Sen', sans-serif;
  color: var(--neutral1);
}

body {
  overflow-x: hidden;
  margin: 3% 5%;
}

a {
  font-family: 'Sen', sans-serif;
  text-decoration: none;
  border-bottom: 1.5px var(--primary5) solid;
  color: var(--neutral1);
}
a:visited {
  color: var(--neutral1);
}
a:hover{
  color: var(--primary4);
}

h1 {
  font-family: 'Sen', sans-serif;
  font-weight: 500;
  font-size: 130%;
  color: var(--primary3);
  
}

ul {
  list-style-type: circle;
}

.top-bar-container {
  display: flex;
  justify-content: space-between;
  
}
.logo {
  
  font-size: 160%;

  font-weight: 700;
}

.NavBar-link {
  margin: 0px 10px;
  color: var(--primary4);
  font-weight: 500;
  border-bottom: 0px;
}


.NavBar{
  padding: 1%;
  display: flex;
  justify-content: flex-end;
}




