:root {
  --primary1: #1D1D35;
  --primary2: #222549;
  --primary3: #3A3F78;
  --primary4: #5053A7;
  --primary5: #8385C3;
  --primary6: #C1C2E1;
  --primary7: #F1F1F9;

  --neutral1: #212934;
  --neutral2: #5F6B7A;
  --neutral3: #8894A7;
  --neutral4: #B8C4CE;
  --neutral5: #CFD6DE;
  --neutral6: #E1E7EC;
  --neutral7: #F8F9FA;
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  /* height: 100%; */
  padding: 0;
  
  /* overflow: hidden; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: var(--neutral1);
}

body {
  overflow-x: hidden;
  margin: 3% 20%;
  font-weight: 300;
}

cursor {
  color: pink;
}
a {
  text-decoration: none;
  border-bottom: 3px var(--primary5) solid;
  color: var(--neutral1);
}
a:visited {
  color: var(--neutral1);
}
a:hover{
  background-color: var(--primary5);
  position: relative; 
  top: -2px;

}

h1 {
  font-weight: 600;
  font-size: 150%;
  color: var(--primary3);
  
}

img {
  margin: 5px 0px;
}

.top-bar-container {
  display: flex;
  justify-content: space-between;
  
}
.logo {
  font-family: 'Zen Loop', cursive;
  font-size: 240%;

  font-weight: 700;
}

.NavBar-link {
  margin: 0px 10px;
  color: var(--neutral1);
  font-weight: 600;
  border-bottom: 0px;
}
.NavBar-link:hover {
  background-color: white;
  color: var(--primary5)
}


.NavBar{
  padding: 1% 1% 5% 1%;
  display: flex;
  justify-content: flex-end;
}

ul li {
  padding: 2px 0px;
  list-style-type: circle;
}




